<body class="gradient-custom">
<div class="container-fluid index-styling">
  <div class="page">
    <h1 class="heading">Welcome to PMS Portal</h1>
    <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-6 text-justify mt-5">

      <p class="mt-4 home-text ml-5">

        <b>A pension is a retirement fund for an employee paid into by the employer, employee, or both, with the employer usually covering the largest percentage of contributions. When the employee retires, she’s paid in an annuity calculated by the terms of the pension. Pension funds are far less common than they used to be, with labor unions and public employees making up the vast majority of pension holders.</b>

      </p>

        

          <blockquote>
            <p class="mt-2 ml-5">

           “Retired soldiers are the worst sufferers when they engage in financial operations. I have found that their credulity far exceeds that of widows and that is saying a good deal.”

           
          </p>
          </blockquote>
        

     </div>
     <div class="col-lg-6 col-xs-12 col-md-6">
       <img src="assets/pension.png" alt="pensionImg" srcset="" class="pensionImg mt-5">
     </div>
     </div>
  </div>
</div>
</body>
