@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
.header{
    height:15vh;
    width:100%;
    /* background-color: rgba(225,234,240,255); */
    color: rgba(6,41,60,255);
    text-align: center;
}
.heading-text{
    font-weight:bold;
    line-height:16vh;
    font-size:42px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Hind Siliguri', sans-serif;
}
.content{
    /* background-image:linear-gradient(to right,rgba(40,78,93,255),rgba(70,103,119,255),rgba(70,104,119,255) */
    /* rgba(38,78,92,255),rgba(40,78,93,255)) ; */
    background: rgb(252,156,0);
    background: linear-gradient(164deg, rgba(252,156,0,0.39866368910845584) 0%, rgba(255,255,255,0.6311566863073355) 46%, rgba(0,255,166,0.4939017843465511) 100%);
    height:70vh;
    padding:20px;
}

.gradient-custom {
    background: rgb(252,156,0);
    background: linear-gradient(164deg, rgba(252,156,0,0.39866368910845584) 0%, rgba(255,255,255,0.6311566863073355) 46%, rgba(0,255,166,0.4939017843465511) 100%);
  }

.footer{
    position:fixed;
    bottom:0px;
    right:0px;
    /* background-color: rgba(246,12,78,255); */
    background: rgb(252,156,0);
    background: linear-gradient(164deg, rgba(252,156,0,0.39866368910845584) 0%, rgba(255,255,255,0.6311566863073355) 46%, rgba(0,255,166,0.4939017843465511) 100%);
    height:7vh;
    text-align: center;
}
.row{
    margin:20px 0px;
}

.form-label{
    /* color:rgba(225,234,240,255); */
    color:rgb(20, 24, 39);
    font-weight: bolder;
    margin:8px;
}
.check-box{
    width:20px;
    height:20px;
}

.button-submit{
    border:0px;
    outline: 0px;
    margin-top:10px;
    color:rgb(20, 24, 39);
    width:120px;
    padding:5px 30px;
    font-family: 'Hind Siliguri', sans-serif;
    border-radius: 50px;
    background-color: rgba(12, 253, 48, 0.463);
}

.form-label-position{
    position: relative;
    bottom:5px;
}
.form-errors{
    color:red;
}
.loader{
    position:absolute;
    top:30%;
    left:25%;
    background-color:white;
    height:300px;
    width:50%;
    border-radius:10px;
    box-shadow: 5px 3px 24px 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader img{
    height:150px;
    width:150px;
}
.msg-heading{
    font-family: 'Anton', sans-serif;
}
@media only screen and (max-width:580px){
    .heading-text{
        font-size: 28px;
    }
    .content{
        padding: 5px;
    }
    .form-label{
        margin:2px;
    }
}